asttokens==2.4.1
cycler==0.12.1
debugpy==1.8.1
decorator==5.1.1
entrypoints==0.4
exceptiongroup==1.2.0
executing==2.0.1
flake8==4.0.1
fonttools==4.49.0
ipykernel==6.9.1
ipython==8.22.1
jedi==0.19.1
jupyter-client==7.4.9
jupyter-core==5.7.1
kiwisolver==1.4.5
matplotlib==3.5.1
matplotlib-inline==0.1.6
mccabe==0.6.1
nest-asyncio==1.6.0
networkx==2.7.1
numpy==1.26.4
packaging==23.2
parso==0.8.3
pexpect==4.9.0
pillow==10.3.0
platformdirs==4.2.0
prompt-toolkit==3.0.43
ptyprocess==0.7.0
pure-eval==0.2.2
pycodestyle==2.8.0
pyflakes==2.4.0
pygments==2.17.2
pygraphviz==1.12
pyparsing==3.1.1
python-dateutil==2.8.2
pyzmq==25.1.2
ruff==0.3.7
scipy==1.12.0
six==1.16.0
stack-data==0.6.3
tornado==6.4
traitlets==5.14.1
wcwidth==0.2.13
